-# header
= render 'layouts/header'

-# Body
.container
  .row
    .col-12
      %h2 HikaTubeとは?
      %p Hikaruが普段からよく観るYoutubeのカテゴリーをAPIを用いてこのサイトにまとめました。
      %p また、HikaTubeのLINEをお友達登録すると20時にメッセージが届きます。
      %p 仕事熱心も良い心掛けですが、ほどよく休んで効率良く働きましょう。画像は実際にLINEに送られてくるメッセージの内容です。
      %img{ src: 'assets/line.PNG', style: 'max-width: 300px;' }