-# header
= render 'layouts/header'

-# Body
.container
  .row
    .col-12
      .profile-title
        %h2 What is HikaTube?
        %p HikaTube is a site that uses the API of the YouTube category that Hikaru often sees.
        %p Also, if you register HikaTube LINE as a friend, you will receive a message every day at 20:00.
        %p The reason why it's 20:00 is because hikaru forgets time when it concentrates on programming.
        %p Moderate breaks lead to an efficient work life.
        %p Let's take a break with Hikaru and watch YouTube and do our best again.
        %p Please let me know if you want to add HikaTube LINE as a friend. I will tell you the QR code.
        %img{ src: 'assets/line.PNG', style: 'max-width: 300px;' }