@charset "UTF-8";

* {
  font-family: 'Cormorant Upright',serif;
}

.profile-title {
  text-align: center;
}

.movie-area {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 20px;
}